.form {
    width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2rem;
}

.form h3 {
    font-size: 2rem;
    color: #444;
    text-align: center;
}

.formBtn {
    background: #a73730;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

.formBtn:disabled {
    background: #a6a6a6 !important;
    cursor: none !important;
}