.formControl {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.formControl .labelContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.labelContainer label {
    font-size: 1.6rem;
    color: #444;
    text-transform: capitalize;
}

.labelContainer .error {
    font-size: 1.2rem;
    color: #EB1D36;
}

.formControl .inputContainer {
    width: 100%;
    border: 1px solid #dadada;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
}

.inputContainer svg {
    font-size: 2rem;
    color: #EB1D36;
}

.inputContainer input {
    width: 100%;
    flex: 1;
    font-size: 1.6rem;
    padding: 1rem;
    color: #444;
}


.formControl input::placeholder {
    color: #bdbaba;
}