::root {
  --primary: #47B5FF;
  --bgBody: #eff2f5
}

body {
  background: #fff;
  max-width: 800px;
  display: flex;
  align-items: center;
}

.container {
  flex: 80%;
  margin-left: 2rem;
  margin-top: 6rem;
}